@import '../../App.scss';

.social-link {
    margin-right: 20px;
    a {
        position:relative;
        text-decoration: none;

        &:after {
            content:'';
            width:0;
            height:20px;
            position: absolute;
            bottom:50%;
            left:0;
            background-color: $main-purple;
            opacity:0.5;
            transition: all 0.8s;
        }

        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}