@import '../../App.scss';

.input-container {
    display:flex;
    flex-direction: column;
    margin: 20px 0;
    font-family: $sans-serif-family;
    font-weight: 500;

    .input {
        padding: 16px 12px 8px 0;
        font-family: inherit;
        border: none;
        border-bottom: 1px solid $dark-purple;
        outline: none;
    }

}