@import '../../App.scss';

.experience {
    max-width:1200px;
    margin: 0 auto;

    .leading-text {
        margin-top: 20px;
    }

    &__item-container {
        padding: 0 20px;

        @media (min-width: 1024px){
            max-width: 1035px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 30px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__mosaic {
        display: none;
        grid-template-columns: 1fr 1fr;

        &--active {
            @media (min-width: 1024px){
                display: grid;
            }
        }
    }
}