@import '../../App.scss';

.title-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 46px auto;

    &__square {
        width: 100px;
        height: 100px;
        transform: rotate(45deg);
        background-color: $main-purple;

        @media (min-width: 1024px){
            width: 120px;
            height: 120px;
        }

    }

    h2 {
        width: fit-content;
        position: absolute;
        display: flex;
        justify-content: center;
        margin:0;
        background-color: $dark-purple;
        color: $white;
        font-size: 30px;
        font-family: $serif-family;

        @media (min-width: 1024px){
            font-size: 42px;
        }
    }
}