@import '../../App.scss';

.footer-container {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    background-color: $dark-purple;

    &__title {
        margin: 0 0 0 64px;
        color: $white;
        font-size: $fs-2xl;
        font-family: $serif-family;
    }

    &__square-container{
        position:relative;
        margin-top:20px;
		height: 100%;
		display: flex;
		align-items: center;
	}
	
	&__square {
		width:30px;
		height:30px;
		position: absolute;
		left:20px;
		background-color: $white;
		transform: rotate(45deg);
		transition: all 0.2s;

		&--front {
			left: 0;
			background-color: $medium-gray;
		}
	}

    &__social {
        display: flex;
        list-style-type: none;
    }

    &__body {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid $white;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__author, &__github {
        font-size: 10px;
        color: $white;

        a {
            color: $white;
            font-weight: bold;
            text-decoration: none;
        }
    }

    &__author{
        @media (min-width: 768px){
            margin-top: 0;
        }
    }
}