@import '../../App.scss';

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.leading-text {
		&--review{
			@media (min-width: 768px){
				margin-top: 50px;
			}

		}
	}

	&__projects {
		padding: 20px 0 20px 0;
		background-color: $main-purple;

		@media (min-width: 1024px) {
			padding: 20px 20px 40px 20px;
		}
	}

	&__personality {
		padding: 0;
		font-weight: bold;
	}

	&__reviews {
		max-width: 800px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 20px auto;
		padding: 0 20px;
		font-size: $fs-base;

		.remix-icon {
			display: flex;
			justify-content: center;
		}
	}

	/*Carousel*/

	&__carousel {
		.react-multi-carousel-track {
			margin: 20px 0;
		}
		
	}

	.react-multiple-carousel__arrow{
		background-color: $dark-purple;
	}

	// } react-multiple-carousel__arrow--right

	&__carousel-dot {
		.react-multi-carousel-dot {
			button {
				width: 20px;
				height: 20px;
				margin-right: 16px;
				border: none;
				border-radius:0;
				background-color: $white;

			}

			&--active{
				button {
					background-color: $dark-purple;
				}

			}
		}
	}
}