* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
}

p, a, h3, h4, h5, h6, article {
    font-family: 'Montserrat', sans-serif;
}

.app-container {
    @media (min-width: 1024px){
        display: flex;
    }
}

.main {
    section {
        padding-top:90px;

        @media (min-width: 1024px) {
            padding-top: 0;
        }
    }

    @media (min-width: 1024px) {
        margin-left: 30%;
        width: 70%;
        height: 100vh;
    }

    @media (min-width: 1280px){
        margin-left: 344px;
        width: calc(100% - 344px)
    }
}

/*Colors*/
$white: #fff;
$black: #000;
$dark-purple: #232123;
$main-purple: #7F3451;
$dark-blue: #4186b4;
$light-blue: #419d99;
$yellow: #f8e9a2;
$gray: #39343B;
$medium-gray: #706970;
$light-gray: #eee;

/*Z index*/
$z-index-infra: -1;
$z-index-normal:1;
$z-index-md: 5;
$z-index-lg: 10;
$z-index-super: 10000;
$z-index-super-extra:10001;


/*Font family*/
$serif-family:'Pacifico', cursive;
$sans-serif-family: 'Montserrat', sans-serif;

/*Font sizes*/
$fs-xs: 14px;
$fs-base: 16px;
$fs-md: 18px; 
$fs-lg: 22px;
$fs-2xl: 32px;
$fs-3xl: 42px;
$fs-4xl: 52px;

/*Animations*/
@keyframes personality {
    from {content:'friki'}
    25% {content: 'bilingüe'}
    50% {content: 'Psicóloga'}
    75% {content: 'cantante de karaoke'}
    to {content: 'Human Resources'}
  }


/*General styles*/
.text {
    max-width: 650px;
    margin: 8px auto;
    padding: 0 20px;
    color: $dark-purple;
    text-align: center;
    font-size: $fs-md;
    font-weight: 500;
    font-family: $sans-serif-family;
}

.leading-text {
    margin: 100px 20px 40px 20px;
    color: $dark-purple;
    font-size: $fs-2xl;
    font-family: $serif-family;
    z-index: $z-index-normal;

    @media (max-width: 767px){
        margin: 40px 20px 20px 20px;
        font-size: $fs-lg;
    }
}    







